# //npm.pkg.github.com/:_authToken=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
# //npm.pkg.github.com/:_authToken=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
@akashudayan:registry=https://npm.pkg.github.com